.nothing__main-content{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: $primary;
    color: white;

    p{
        text-align: center;
    }

}